<template name="SiteIndex">
    <div id="content-wrapper">
      <div class="container">
      {{#with site}}
        <h2>{{siteTitle}} - Home 0</h2>
        <div class="intro">{{homeIntro}}</div>
      {{/with}}
      </div>
    </div>
</template>

<template name="SiteIndex1">
    <div id="content-wrapper">
      <div class="container">
      {{#with site}}
        <h2>{{siteTitle}} - Home 1</h2>
        <div class="intro">{{homeIntro}}</div>
      {{/with}}
      </div>
    </div>
</template>


<template name="SiteIndex2">
    <div id="content-wrapper">
      <div class="container">
      {{#with site}}
        <h2>{{siteTitle}} - Home 2</h2>
        <div class="intro">{{homeIntro}}</div>
      {{/with}}
      </div>
    </div>
</template>



<template name="SiteIndex3">
    <div id="content-wrapper">
      <div class="container">
      {{#with site}}
        <h2>{{siteTitle}} - Home 3</h2>
        <div class="intro">{{homeIntro}}</div>
      {{/with}}
      </div>
    </div>
</template>
