// ---------------------------------------------------------------------------
// Imports

@import "susyone";

// ---------------------------------------------------------------------------
// Basic Grid


//this is the default number of columns
$total-columns: 4;
//width of each column
$column-width   : 6em;
//space between columns
$gutter-width   : 2em;
//space on the right and left of the grid
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : false;

//alternative layout breakpoints
$narrow:30em 6;
$tablet:40em 8;
$computer:52em 12;
$wide: 65em 12;


// ---------------------------------------------------------------------------
// "Mobile First", grid styles.

//.container{
//  @include container;
//  @include susy-grid-background;
//
//  @include at-breakpoint($narrow){
//    @include container;
//    @include susy-grid-background;
//  }
//  @include at-breakpoint($tablet){
//    @include container;
//    @include susy-grid-background;
//  }
//  @include at-breakpoint($computer){
//    @include container;
//    @include susy-grid-background;
//  }
//  @include at-breakpoint($wide){
//    @include container;
//    @include susy-grid-background;
//    max-width: 1200px;
//  }
//} //.container


// Default grid blocks here following the "Mobile First" strategy.

.width-25.float-left{
  @include span-columns(12 omega, 12);
  clear: both;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(3, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(3, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(3, 12);
  }
}

.width-25.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(3 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(3 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(3 omega, 12);
  }
}

.width-33{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(4, 12);
    @include nth-omega(3n);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(4, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(4, 12);
  }
}

.width-33.float-left{
  @include span-columns(12 omega, 12);
  clear: both;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(4, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(4, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(4, 12);
  }
}

.width-33.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(4 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(4 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(4 omega, 12);
  }
}

.width-50{
  @include span-columns(12 omega, 12);
  clear: right;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(6, 12);
    @include nth-omega(2n);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(6, 12);
  }
}

.width-50.float-left{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(6, 12);
  }
}

.width-50.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(6 omega, 12);
  }
}

.width-66.float-left{
  @include span-columns(12 omega, 12);
  clear: both;

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(8, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(8, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(8, 12);
  }
}

.width-66.float-right{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include span-columns(8 omega, 12);
  }
  @include at-breakpoint($computer){
    @include span-columns(8 omega, 12);
  }
  @include at-breakpoint($wide){
    @include span-columns(8 omega, 12);
  }
}

.width-100{
  @include span-columns(12 omega, 12);
}



// Default grid blocks here following the "Mobile First" strategy.


#block-system-user-menu,
.pane-system-user-menu{

  @include at-breakpoint($narrow){
    @include span-columns(12 omega,12);
  }
}

.theme0{
  #branding{
    @include span-columns(4 omega,4);
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($tablet){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($computer){
      @include span-columns(12 omega,12);
    }
  }

  nav#main-menu{
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($tablet){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($computer){
      @include span-columns(12 omega,12);
    }
  }
}


.theme1{
  #branding{
    @include span-columns(4 omega,4);
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(3,8);
      text-align: left;
    }
    @include at-breakpoint($computer){
      @include span-columns(5,12);
    }
  }

  nav#main-menu{

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(5 omega,8);
    }
    @include at-breakpoint($computer){
      @include span-columns(7 omega,12);
    }
  }
}
.theme2{
  #branding{
    @include span-columns(4 omega,4);
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(3,8);
      text-align: left;
    }
    @include at-breakpoint($computer){
      @include span-columns(5,12);
    }
  }

  nav#main-menu{

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(5 omega,8);
    }
    @include at-breakpoint($computer){
      @include span-columns(7 omega,12);
    }
  }
}
.theme3{
  #branding{
    @include span-columns(4 omega,4);
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(3,8);
      text-align: left;
    }
    @include at-breakpoint($computer){
      @include span-columns(5,12);
    }
  }

  nav#main-menu{

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(5 omega,8);
    }
    @include at-breakpoint($computer){
      @include span-columns(7 omega,12);
    }
  }
}

.themeMaster{
  #branding{
    @include span-columns(4 omega,4);
    text-align: center;

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(3,8);
      text-align: left;
    }
    @include at-breakpoint($computer){
      @include span-columns(5,12);
    }
  }

  nav#main-menu{
    @include span-columns(4 omega,4);

    @include at-breakpoint($narrow){
      @include span-columns(6 omega,6);
    }
    @include at-breakpoint($tablet){
      @include span-columns(5 omega,8);
    }
    @include at-breakpoint($computer){
      @include span-columns(7 omega,12);
    }
  }
}

ul.features{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    padding: 0 0 30px 0;
    margin: 0;
    vertical-align: top;
    @include span-columns(12 omega,12);

    // Services
    &.services{
      @include at-breakpoint($narrow){
        clear: both;
        @include remove-omega;
        @include span-columns(6,12);
      } // narrow
      @include at-breakpoint($computer){
        @include span-columns(4,12);
      } // computer
      @include at-breakpoint($wide){
        @include span-columns(3,12);
      }
    }
    // Designs
    &.designs{
      @include at-breakpoint($narrow){
        @include span-columns(6 omega,12);
      } // narrow
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(4,12);
      } // computer
      @include at-breakpoint($wide){
        @include span-columns(3,12);
      }
    }
    // Management
    &.management{
      @include at-breakpoint($narrow){
        clear: both;
        @include remove-omega;
        @include span-columns(6,12);
      } // narrow
      @include at-breakpoint($computer){
        clear: none;
        @include span-columns(4 omega,12);
      } // computer
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3,12);
      }
    }
    // Mobile
    &.mobile{
      @include at-breakpoint($narrow){
        @include span-columns(6 omega,12);
      } // narrow
      @include at-breakpoint($computer){
        clear: both;
        @include remove-omega;
        @include span-columns(4,12);
      } // computer
      @include at-breakpoint($wide){
        clear: none;
        @include span-columns(3 omega,12);
      }
    }
    // SEO
    &.seo{
      @include at-breakpoint($narrow){
        clear: both;
        @include remove-omega;
        @include span-columns(6,12);
      } // narrow
      @include at-breakpoint($computer){
        clear: none;
        @include remove-omega;
        @include span-columns(4,12);
      } // computer
      @include at-breakpoint($wide){
        clear: both;
        @include span-columns(3,12);
      }// wide
    }
    // Affordable
    &.affordable{
      @include at-breakpoint($narrow){
        @include span-columns(6 omega,12);
      } // narrow
      @include at-breakpoint($computer){
        @include span-columns(4 omega,12);
      } // computer
      @include at-breakpoint($wide){
        @include remove-omega;
        @include span-columns(3,12);
      }// wide
    }
    // No Contracts
    &.fees{
      @include at-breakpoint($narrow){
        clear: both;
        @include remove-omega;
        @include span-columns(6,12);
      } // narrow
      @include at-breakpoint($computer){
        clear: both;
        @include span-columns(4,12);
      }// computer
      @include at-breakpoint($wide){
        clear: none;
        @include span-columns(3,12);
      }// wide

    }
  }
}

#footer-wrapper{

  .footer-menu{
    &.about{
      @include span-columns(12 omega,12);

      @include at-breakpoint($narrow){
        @include remove-omega;
        @include span-columns(6,12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(4,12);
      }
      @include at-breakpoint($computer){
        @include remove-omega;
        @include span-columns(3,12);
      }
   } //.about
   &.connect{
     @include span-columns(12 omega,12);

     @include at-breakpoint($narrow){
       @include span-columns(6 omega,12);
     }
     @include at-breakpoint($tablet){
      @include remove-omega;
       @include span-columns(4,12);
     }
     @include at-breakpoint($computer){
      @include remove-omega;
       @include span-columns(3,12);
     }
   }//.connect
  } //.footer-menu

  .branding{
    padding-top: 20px;
    @include span-columns(12 omega,12);

    @include at-breakpoint($narrow){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($tablet){
      @include span-columns(12 omega,12);
    }
    @include at-breakpoint($computer){
      @include span-columns(3 omega,12);
    }
  }
} //#footer-wrapper


.entry.col-md-4{

  @include at-breakpoint($narrow){
    @include span-columns(8,12); // 4-columns wide
    @include isolate(3,12); // positioned in the second column
  }
  @include at-breakpoint($tablet){
    @include span-columns(6,12); // 4-columns wide
    @include isolate(4,12); // positioned in the second column

  }
  @include at-breakpoint($computer){
    @include span-columns(6,12); // 4-columns wide
    @include isolate(4,12); // positioned in the second column

  }
  @include at-breakpoint($wide){
    @include span-columns(4,12); // 4-columns wide
    @include isolate(5,12); // positioned in the second column

  }
}





.client-theme-1{

} //.client-theme-1

.client-theme-2{

} //.client-theme-2

.client-theme-3{

} //.client-theme-3

.client-theme-4{

} //.client-theme-4

.client-theme-5{
} //.client-theme-5


// Dashboard
#invoices {
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow) {
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet) {
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($computer) {
    @include span-columns(6 omega, 12);
  }
  @include at-breakpoint($wide) {
    @include span-columns(6 omega, 12);
  }
}

#subscriptions{
  @include span-columns(12 omega, 12);

  @include at-breakpoint($narrow){
    @include span-columns(12 omega, 12);
  }
  @include at-breakpoint($tablet){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($computer){
    @include remove-omega;
    @include span-columns(6, 12);
  }
  @include at-breakpoint($wide){
    @include remove-omega;
    @include span-columns(6, 12);
  }
}


.services-50{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin: 0 0 30px 0;
      padding: 0;

      @include span-columns(12 omega, 12);
      clear: right;

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(6, 12);
        @include nth-omega(2n);
        &:nth-child(2n+1){
          clear: both;
        }

      }
      @include at-breakpoint($computer){
        @include span-columns(6, 12);
      }
      @include at-breakpoint($wide){
        @include span-columns(6, 12);
      }
    }
  }
}

.services-33{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin: 0 0 30px 0;
      padding: 0;

      @include span-columns(12 omega, 12);
      clear: right;

      @include at-breakpoint($narrow){
        @include span-columns(12 omega, 12);
      }
      @include at-breakpoint($tablet){
        @include remove-omega;
        @include span-columns(6, 12);
        @include nth-omega(2n);

        &:nth-child(2n+1){
          clear: both;
        }

      }
      @include at-breakpoint($computer){
        @include remove-nth-omega(2n);
        @include span-columns(4, 12);
        @include nth-omega(3n);

        &:nth-child(2n+1){
          clear: right;
        }
        &:nth-child(3n+1){
          clear: both;
        }
      }
      @include at-breakpoint($wide){
        @include span-columns(4, 12);
      }
    }
  }
}