<template name="404">
  <div id="content-wrapper">
    <div class="container">
      <h2>Badges! We Don't Need No Stinking Badges!</h2>
      <p>Oops, this page can't be found.</p>
    </div>
  </div>
</template>


<template name="404.0">
  <div id="content-wrapper">
    <div class="container">
      <h2>Are Your Base Belong To Us!</h2>
      <p>Oops, this page can't be found.</p>
    </div>
  </div>
</template>


<template name="404.1">
  <div id="content-wrapper">
    <div class="container">
      <h2>We've Got To Have More Power Captain!</h2>
      <p>Oops, this page can't be found.</p>
    </div>
  </div>
</template>


<template name="404.2">
  <div id="content-wrapper">
    <div class="container">
      <h2>Peanut Butter Jelly Time!</h2>
      <p>Oops, this page can't be found.</p>
    </div>
  </div>
</template>


<template name="404.3">
  <div id="content-wrapper">
    <div class="container">
      <h2>No Soup For You!</h2>
      <p>Oops, this page can't be found.</p>
    </div>
  </div>
</template>


<template name="siteNotFound">
  <div id="content-wrapper">
    <div class="container">
      <h2>Oh Snap!</h2>
      <p>Great News! there's no site at this address, that means this address is available for <b>Your Site.</b></p>
    </div>
  </div>
</template>


