<template name="header">
    {{> topMenu}}
  <div id="header-wrapper">
    <div class="container">
      <header>
        <div id="branding">
            <a href="{{pathFor 'home'}}"><img src="/img/logo.png" title="{{siteTitle}}" alt="ServiceBay Logo"></a>
        </div>
          {{> serviceBayMenu}}
      </header>
    </div>
  </div>
</template>


<template name="header0">
  <div id="header-wrapper0">
    <div class="container">
      <header>
          <span class="menu-trigger">Menu</span>
          {{> menu}}
          <div id="branding">
              {{#with site}}
                <h1><a href="{{pathFor 'home'}}">{{siteTitle}}</a></h1>
              {{/with}}
          </div>
      </header>
    </div>
  </div>
</template>


<template name="header1">
  <div id="header-wrapper1">
    <div class="container">
      <header>
        <span class="menu-trigger">Menu</span>
        <div id="branding">
            {{#with site}}
              <h1><a href="{{pathFor 'home'}}">{{siteTitle}}</a></h1>
            {{/with}}
        </div>
          {{> menu}}
      </header>
    </div>
  </div>
</template>


<template name="header2">
  <div id="header-wrapper2">
    <div class="container">
      <header>
        <span class="menu-trigger">Menu</span>
        <div id="branding">
            {{#with site}}
              <h1><a href="{{pathFor 'home'}}">{{siteTitle}}</a></h1>
            {{/with}}
        </div>
          {{> menu}}
      </header>
    </div>
  </div>
</template>


<template name="header3">
  <div id="header-wrapper3">
    <div class="container">
      <header>
        <span class="menu-trigger">Menu</span>
        <div id="branding">
            {{#with site}}
              <h1><a href="{{pathFor 'home'}}">{{siteTitle}}</a></h1>
            {{/with}}
        </div>
          {{> menu}}
      </header>
    </div>
  </div>
</template>


