<template name="ContactAddress">
      {{#with contact}}
        <div class="contact intro">{{{contact.contactIntro}}}</div>

        <div  class="address">
          <h3 class="company">{{contact.companyName}}</h3>
          <div class="street">{{contact.companyAddress}}</div>
          <div class="city">{{contact.companyCity}}, {{contact.companyState}}</div>
          <div class="country">{{contact.companyCountry}} {{contact.companyPostal}}</div>
          {{#if contact.companyPhone}}<div class="phone"><strong>Phone:</strong> {{contact.companyPhone}}</div>{{/if}}
          {{#if contact.companyFax}}<div class="fax"><strong>Fax:</strong> {{contact.companyFax}}</div>{{/if}}
        </div>
      {{/with}}
</template>
