<template name="FooterNone">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBranding}}
      </footer>
    </div>
  </div>
</template>

<template name="FooterMaster">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
          {{> serviceBayAboutFooterMenu}}
          {{> serviceBayConnectFooterMenu}}
          {{> footerBranding}}
      </footer>
    </div>
  </div>
</template>

<template name="Footer0">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="Footer1">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="Footer2">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="Footer3">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="footerBranding">
  <div class="branding">
    <a href="//smallrobot.org" target="_blank"><img src="/img/smallrobot.png" alt="Small Robot"></a>
    <p class="copyright">Powered by <a href="//servicebay.ca">ServiceBay</a>. ©2015. All rights reserved. ServiceBay is a <a href="//smallrobot.org" target="_blank">Small Robot</a> product.</p>
  </div>
</template>

<template name="footerBrandingSite">
  <div class="branding">
    <a href="//servicebay.ca" target="_blank"><img src="/img/servicebay-white.png" alt="Small Robot"></a>
    <p class="copyright">Powered by <a href="//servicebay.ca" target="_blank">ServiceBay</a>. ©2015. All rights reserved. ServiceBay is a <a href="//smallrobot.org" target="_blank">Small Robot</a> company.</p>
  </div>
</template>


<!-- WYSIWYG Editing -->

<template name="EditFooterMaster">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> serviceBayAboutFooterMenu}}
        {{> serviceBayConnectFooterMenu}}
        {{> footerBranding}}
      </footer>
    </div>
  </div>
</template>

<template name="EditFooter0">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="EditFooter1">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="EditFooter2">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>


<template name="EditFooter3">
  <div id="footer-wrapper">
    <div class="container">
      <footer>
        {{> footerBrandingSite}}
      </footer>
    </div>
  </div>
</template>