<template name="gallery">
  <div id="content-wrapper">
    <div class="container">
      <h1>Gallery</h1>
      {{#with site}}
        <div class="intro">{{galleryIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="gallery0">
  <div id="content-wrapper">
    <div class="container">
      <h1>Gallery 0</h1>
      {{#with site}}
        <div class="intro">{{galleryIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="gallery1">
  <div id="content-wrapper">
    <div class="container">
      <h1>Gallery 1</h1>
      {{#with site}}
        <div class="intro">{{galleryIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="gallery2">
  <div id="content-wrapper">
    <div class="container">
      <h1>Gallery 2</h1>
      {{#with site}}
        <div class="intro">{{galleryIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="gallery3">
  <div id="content-wrapper">
    <div class="container">
      <h1>Gallery 3</h1>
      {{#with site}}
        <div class="intro">{{galleryIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>
