<template name="AdminToolbar">
  <div id="admin-flyout" class="grid-form">
    <div data-row-span="2">
      <div data-field-span="1">
          {{> afQuickField name='siteTitle'}}
      </div>
      <div data-field-span="1">
        {{> afQuickField name="siteTheme"}}
      </div>
    </div>
    <div data-row-span="3">
      <div data-field-span="1">
        {{> afQuickField name="homeSplash" placeholder="e.g., http://www.example.com/images/image.jpg"}}
      </div>
      <div data-field-span="2">
      </div>
    </div>

  </div>
  <div id="admin-toolbar">
    <div class="container">
      <nav>
        <ul>
          <li class="dashboard"><a href="{{pathFor 'dashboard'}}" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i> Back to Dashboard</a></li>
          <li><a href="#" class="more-settings btn btn-primary"><i class="fa fa-plus-square"></i> More Settings</a></li>
          <li class="save"><button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Save Changes</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>