<template name="MasterEditLayout">
{{#autoForm collection="Site" template="afContenteditable" doc=this id="editSiteForm" type="update" validation="submitThenBlur"}}

<!--[if lt IE 9]>
    <p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
  <![endif]-->
  <div class="header edit">
    {{> yield region="header"}}
  </div>
  <div class="content edit">
    {{> yield}}
  </div>
  <div class="footer edit">
    {{> yield region="footer"}}
  </div>
    {{> AdminToolbar}}
{{/autoForm}}
  {{> autoformModals}}

</template>

