<template name="Contact">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact ServiceBay</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Message Us</h3>
    {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
        {{> afQuickField name="name"}}
        {{> afQuickField name="email"}}
        {{> afQuickField name="message" rows="10"}}
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    {{/autoForm}}
    </div>
  </div>
</template>
