<template name="contact">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact ServiceBay</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Email Form</h3>
      <input type="text" name="name" placeholder="Name" value="">
      <input type="email" name="email" value="" placeholder="Email Address">
      <textarea name="message" class="editable" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="btn" value="Submit">
    </div>
  </div>
</template>


<template name="contact0">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact 0</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Email Form</h3>
      <input type="text" name="name" placeholder="Name" value="">
      <input type="email" name="email" value="" placeholder="Email Address">
      <textarea name="message" class="editable" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="btn" value="Submit">
    </div>
  </div>
</template>


<template name="contact1">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact 1</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Email Form</h3>
      <input type="text" name="name" placeholder="Name" value="">
      <input type="email" name="email" value="" placeholder="Email Address">
      <textarea name="message" class="editable" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="btn" value="Submit">
    </div>
  </div>
</template>


<template name="contact2">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact 2</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Email Form</h3>
      <input type="text" name="name" placeholder="Name" value="">
      <input type="email" name="email" value="" placeholder="Email Address">
      <textarea name="message" class="editable" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="btn" value="Submit">
    </div>
  </div>
</template>


<template name="contact3">
  <div id="content-wrapper">
    <div class="container">
      <h2>Contact 3</h2>
      {{#with site}}
        <div class="intro" data-placeholder="Type some text">{{contactIntro}}</div>
      {{/with}}
    <h3>Email Form</h3>
      <input type="text" name="name" placeholder="Name" value="">
      <input type="phone" name="phone" placeholder="Phone Number" value="">
      <input type="email" name="email" value="" placeholder="Email Address">
      <textarea name="message" class="editable" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="btn" value="Submit">
    </div>
  </div>
</template>
