<template name="sb.features">
  <div id="content-wrapper">
    <div class="container">
      <h1>Features</h1>
      {{#with site}}
      <div class="intro">{{{featuresIntro}}}</div>
      {{/with}}
      <h2>Key Features</h2>
      <ul>
        <li>Easy to use administration interface</li>
        <li>Google Maps to your location</li>
        <li>Services page that allows you to share your specialties in an effective way.</li>
        <li>Tell your story, on your About page.</li>
        <li>Link to your Facebook, Twitter and Yelp profiles</li>
      </ul>
    </div>
  </div>
  <div id="features-wrapper">
    <div class="container">
      <ul class="features">
        <li class="node-14">
          <h3 class="node-14">Discover Services</h3>
          <p>ServiceBay makes it easy for your potential customers to discover the services you offer. Your services are listed in an effective and easy to understand way, allowing your customers to effectively see what you offer. The easy doesn't end there, your listing of services are being easily managed and maintained by you.</p>
        </li>

        <li class="node-13">
          <h3 class="node-13">Great Designs</h3>
          <p>ServiceBay provides you with simple, effective and professionally designed themes to choose from when building your website. The designs will get your message out to your customers, with designs that make sure your site refects the high quality service your business provides.</p>
        </li>

        <li class="node-8">
          <h3 class="node-8">Easy Management</h3>
          <p>ServiceBay has a very easy to understand administration interface, making managing your website is as simple as filling out a form. Managing your website, this is something YOU can do from the comfort of your home or business. No need to call the "web guy" to make a change, you are the "web guy" now, <strong>you</strong> are in control.</p>
        </li>

        <li class="node-9">
          <h3 class="node-9">Mobile Friendly</h3>
          <p>With a majority of your potential customers using their phones, or other devices to browse the web, your website needs to work well on all these devices. ServiceBay is built from the ground up to be easy to use as a visitor on any modern web capable device. From the desktop computer, to tablets &amp; phones of all sizes, your website is clearly presented to your customers.</p>
        </li>

        <li class="node-12">
          <h3 class="node-12">Search Engine Optimized</h3>
          <p>It is one thing to have a website, it is another to be found. ServiceBay includes search engine optimization (SEO) tools to help you get noticed by your customers. The simple interfaces for adding search engine keywords, links to your Facebook, Twitter and Yelp pages, as well as behind the scenes optimization, we make SEO friendly.</p>
        </li>

        <li class="node-11">
          <h3 class="node-11">Very Affordable</h3>
          <p>As a small or medium sized business, costs of doing business can be, well costly. ServiceBay is here to get your business online for less. There are only 2 plans, $9.95 and $19.95 per month, which is less then 70 cents a day for even the premium plan. Our plans use PayPal for all transactions, allowing your monthly payment can come from a Credit Card of directly from your Bank Account securely.</p>
        </li>

        <li class="node-10">
          <h3 class="node-10">No Fees or Contracts</h3>
          <p>ServiceBay does not have any fees, except the monthly rate for your plan. You do not have any signup or cancellation fees, even email tech support is included. What about contracts? We do not have any. You can cancel your account, or disable one of your websites at any time, without penalty. We pay enough fees for every little thing for other things we use, like phone, cable, banking, we say no more fees.&nbsp;</p>
        </li>
      </ul>
    </div>
  </div>
</template>
