<template name="servicesList0">
  <h2>Our Services</h2>
  <div class="services well">
    {{#each services}}
      {{> serviceItem0}}
    {{/each}}
  </div>
</template>

<template name="servicesList1">
  <h2>Our Services</h2>
  <div class="services well">
    {{#each services}}
      {{> serviceItem1}}
    {{/each}}
  </div>
</template>

<template name="servicesList2">
  <h2>Our Services</h2>
  <div class="services well">
    {{#each services}}
      {{> serviceItem2}}
    {{/each}}
  </div>
</template>

<template name="servicesList3">
  <h2>Our Services</h2>
  <div class="services well">
    {{#each services}}
      {{> serviceItem3}}
    {{/each}}
  </div>
</template>
