<template name="topMenu">
  <div id="user-wrapper">
    <div class="container">
      <nav class="nav" id="user-menu">
        <ul class="menu">
          <li class="home"><a href="http://servicebay.ca/"><img src="/img/servicebay-white.png" title="{{siteTitle}} - Home" alt="ServiceBay Home"></a>
</li>

          <li><a href="{{pathFor 'support'}}" class="{{activeRouteClass 'support'}} support"><i class="fa fa-comments-o"></i> Help &amp; Support</a></li>
          {{#if currentUser}}<li><a href="{{pathFor 'dashboard'}}" class="{{activeRouteClass 'dashboard'}} dashboard"><i class="fa fa-cog"></i> My Dashboard</a></li>{{/if}}
          {{#unless currentUser}}<li><a href="/sign-up" class="signup"><i class="fa fa-user"></i> Sign Up</a></li>{{/unless}}
          {{#unless currentUser}}<li><a href="/sign-in" class="signup"><i class="fa fa-user"></i> Login</a></li>{{/unless}}
          {{#if currentUser}}<li><a href="/sign-out" class="signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>{{/if}}
          {{#if adminUser}}<li><a href="{{pathFor 'admin'}}"><i class="fa fa-cog"></i> Admin</a></li>{{/if}}
        </ul>
      </nav>
    </div>
  </div>
</template>


<template name="clientMobileMenu">
    <nav id="client-mobile-menu" class="client">
      <ul class="menu">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'services'}}" class="{{activeRouteClass 'services'}}">Services</a></li>
        <li><a href="{{pathFor 'about'}}" class="{{activeRouteClass 'about'}}">About Us</a></li>
        <li><a href="{{pathFor 'contact'}}" class="{{activeRouteClass 'contact'}}">Contact</a></li>
      </ul>
    </nav>
</template>

<template name="Menu0">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="{{activeRouteClass 'services'}}">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="{{activeRouteClass 'about'}}">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="{{activeRouteClass 'contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="Menu1">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="{{activeRouteClass 'services'}}">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="{{activeRouteClass 'about'}}">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="{{activeRouteClass 'contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="Menu2">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor route='home' hash=''}}" class="home">Home</a></li>
      <li><a href="{{pathFor route='home' hash='services'}}" class="services">Services</a></li>
      <li><a href="{{pathFor route='home' hash='about'}}" class="about">About Us</a></li>
      <li><a href="{{pathFor route='home' hash='contact'}}" class="contact">Contact</a></li>
    </ul>
  </nav>
</template>

<template name="Menu3">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="{{activeRouteClass 'services'}}">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="{{activeRouteClass 'about'}}">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="{{activeRouteClass 'contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>

<template name="MenuMaster">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="{{activeRouteClass 'features'}}">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="{{activeRouteClass 'pricing'}}">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="{{activeRouteClass 'listing'}}">Listing</a></li>
    </ul>
  </nav>
</template>

<template name="serviceBayMobileMenu">
    <nav id="mobile-menu" class="sb">
      <ul class="menu">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'features'}}" class="{{activeRouteClass 'features'}}">Features</a></li>
        <li><a href="{{pathFor 'pricing'}}" class="{{activeRouteClass 'pricing'}}">Pricing & Options</a></li>
        <li><a href="{{pathFor 'listing'}}" class="{{activeRouteClass 'listing'}}">Listing</a></li>
      </ul>
    </nav>
</template>


<template name="serviceBayAboutFooterMenu">
    <div class="footer-menu about">
      <h3>About ServiceBay</h3>
      <nav id="about-menu">
        <ul class="menu">
          <li><a href="{{pathFor 'whychoose'}}" class="{{activeRouteClass 'whychoose'}}">Why Choose ServiceBay?</a></li>
          <li><a href="{{pathFor 'promise'}}" class="{{activeRouteClass 'promise'}}">Our Promise</a></li>
          <li><a href="{{pathFor 'team'}}" class="{{activeRouteClass 'team'}}">Our Team</a></li>
          <li><a href="{{pathFor 'privacy'}}" class="{{activeRouteClass 'privacy'}}">Privacy Policy</a></li>
          <li><a href="{{pathFor 'terms'}}" class="{{activeRouteClass 'terms'}}">Terms of Use</a></li>
        </ul>
      </nav>
    </div>
</template>

<template name="serviceBayConnectFooterMenu">
    <div class="footer-menu connect">
      <h3>Connect to ServiceBay</h3>
      <nav id="connect-menu">
        <ul class="menu">
          <li><a href="#" class="">Our Blog</a></li>
          <li><a href="{{pathFor 'contact'}}" class="{{activeRouteClass 'contact'}}">Contact Us</a></li>
          <li><a href="{{pathFor 'support'}}" class="{{activeRouteClass 'support'}}">Help &amp; Support</a></li>
          <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
          <li><a href="http://twitter.com/Service-Bay" class="twitter">Twitter</a></li>
        </ul>
      </nav>
    </div>
</template>





<template name="EditMenu0">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="{{activeRouteClass 'edit.services'}}">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="{{activeRouteClass 'edit.about'}}">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="{{activeRouteClass 'edit.contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu1">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="{{activeRouteClass 'edit.services'}}">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="{{activeRouteClass 'edit.about'}}">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="{{activeRouteClass 'edit.contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu2">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="" class="home">Home</a></li>
      <li><a href="#services" class="services">Services</a></li>
      <li><a href="#about" class="about">About Us</a></li>
      <li><a href="#contact" class="contact">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu3">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="{{activeRouteClass 'edit.services'}}">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="{{activeRouteClass 'edit.about'}}">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="{{activeRouteClass 'edit.contact'}}">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenuMaster">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="{{activeRouteClass 'features'}}">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="{{activeRouteClass 'pricing'}}">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="{{activeRouteClass 'listing'}}">Listing</a></li>
    </ul>
  </nav>
</template>


<template name="EditServiceBayMenu">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="{{activeRouteClass 'features'}}">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="{{activeRouteClass 'pricing'}}">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="{{activeRouteClass 'listing'}}">Listing</a></li>
    </ul>
  </nav>
</template>


<template name="adminToolbar">
  <div id="admin-flyout" class="grid-form">
    <div data-row-span="2">
      <div data-field-span="1">
        {{> afQuickField name='siteTitle'}}
      </div>
      <div data-field-span="1">
        {{> afQuickField placeholder="e.g., ServiceBay" name='companyName'}}
      </div>

    </div>
    <div data-row-span="3">
      <div data-field-span="1">
        {{> afQuickField placeholder="e.g., name@gmail.com" name='companyEmail'}}
      </div>
      <div data-field-span="1">
        {{> afQuickField name="siteTheme"}}
      </div>
      <div data-field-span="1">
        {{> afQuickField name="homeSplash" placeholder="e.g., http://www.example.com/images/image.jpg"}}
      </div>
    </div>

  </div>
  <div id="admin-toolbar">
    <div class="container">
      <nav>
        <ul>
          <li class="dashboard"><a href="{{pathFor 'dashboard'}}" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i> Back to Dashboard</a></li>
          <li><a href="#" class="more-settings btn btn-primary"><i class="fa fa-plus-square"></i> More Settings</a></li>
          <li class="save"><button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> Save Changes</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>