<template name="topMenu">
  <div id="user-wrapper">
    <div class="container">
      <nav class="nav" id="user-menu">
        <ul class="menu">
          <li class="home"><a href="http://servicebay.ca/"><img src="/img/servicebay-white.png" title="{{siteTitle}} - Home" alt="ServiceBay Home"></a>
</li>

          <li><a href="{{pathFor 'support'}}" class="support"><i class="fa fa-comments-o"></i> Help &amp; Support</a></li>
          {{#if currentUser}}<li><a href="{{pathFor 'dashboard'}}" class="dashboard"><i class="fa fa-cog"></i> My Dashboard</a></li>{{/if}}
          {{#unless currentUser}}<li><a href="/user" class="signup"><i class="fa fa-user"></i> Sign In / Register</a></li>{{/unless}}
          {{#if currentUser}}<li><a href="#" class="signout"><i class="fa fa-sign-out"></i> Sign Out</a></li>{{/if}}
          {{#if adminUser}}<li><a href="{{pathFor 'admin'}}"><i class="fa fa-cog"></i> Admin</a></li>{{/if}}
        </ul>
      </nav>
    </div>
  </div>
</template>


<template name="clientMobileMenu">
    <nav id="client-mobile-menu" class="client">
      <ul class="menu">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        <li><a href="{{pathFor 'services'}}" class="">Services</a></li>
        <li><a href="{{pathFor 'about'}}" class="">About Us</a></li>
        <li><a href="{{pathFor 'contact'}}" class="">Contact</a></li>
      </ul>
    </nav>
</template>

<template name="Menu0">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="Menu1">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="Menu2">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor route='home' hash=''}}" class="home">Home</a></li>
      <li><a href="{{pathFor route='home' hash='services'}}" class="services">Services</a></li>
      <li><a href="{{pathFor route='home' hash='about'}}" class="about">About Us</a></li>
      <li><a href="{{pathFor route='home' hash='contact'}}" class="contact">Contact</a></li>
    </ul>
  </nav>
</template>

<template name="Menu3">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'home'}}">Home</a></li>
      <li><a href="{{pathFor 'services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>

<template name="MenuMaster">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="">Listing</a></li>
    </ul>
  </nav>
</template>


<template name="serviceBayAboutFooterMenu">
    <div class="footer-menu about">
      <h3>About ServiceBay</h3>
      <nav id="about-menu">
        <ul class="menu">
          <li><a href="{{pathFor 'whychoose'}}" class="">Why Choose ServiceBay?</a></li>
          <li><a href="{{pathFor 'promise'}}" class="">Our Promise</a></li>
          <li><a href="{{pathFor 'team'}}" class="">Our Team</a></li>
          <li><a href="{{pathFor 'privacy'}}" class="">Privacy Policy</a></li>
          <li><a href="{{pathFor 'termsOfService'}}" class="">Terms of Use</a></li>
        </ul>
      </nav>
    </div>
</template>

<template name="serviceBayConnectFooterMenu">
    <div class="footer-menu connect">
      <h3>Connect to ServiceBay</h3>
      <nav id="connect-menu">
        <ul class="menu">
          <li><a href="#" class="">Our Blog</a></li>
          <li><a href="{{pathFor 'contact'}}" class="">Contact Us</a></li>
          <li><a href="{{pathFor 'support'}}" class="">Help &amp; Support</a></li>
          <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
          <li><a href="http://twitter.com/Service-Bay" class="twitter">Twitter</a></li>
        </ul>
      </nav>
    </div>
</template>





<template name="EditMenu0">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu1">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu2">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="" class="home">Home</a></li>
      <li><a href="#services" class="services">Services</a></li>
      <li><a href="#about" class="about">About Us</a></li>
      <li><a href="#contact" class="contact">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenu3">
  <nav id="main-menu">
    <ul class="menu" >
      <li><a href="{{pathFor 'edit.home'}}">Home</a></li>
      <li><a href="{{pathFor 'edit.services'}}" class="">Services</a></li>
      <li><a href="{{pathFor 'edit.about'}}" class="">About Us</a></li>
      <li><a href="{{pathFor 'edit.contact'}}" class="">Contact</a></li>
    </ul>
  </nav>
</template>


<template name="EditMenuMaster">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="">Listing</a></li>
    </ul>
  </nav>
</template>


<template name="EditServiceBayMenu">
  <nav id="main-menu">
    <ul class="menu">
      <li><a href="{{pathFor 'features'}}" class="">Features</a></li>
      <li><a href="{{pathFor 'pricing'}}" class="">Pricing & Options</a></li>
      <li><a href="{{pathFor 'listing'}}" class="">Listing</a></li>
    </ul>
  </nav>
</template>


