<template name="SiteAbout">
  <div id="content-wrapper">
    <div class="container">
      <div id="map"></div>
      <h2>About Us</h2>
      {{#with site}}
        <div class="intro">{{aboutIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="SiteAbout0">
  <div id="content-wrapper">
    <div class="container">
      <div id="map"></div>
      <h2>About Us 0</h2>
      {{#with site}}
        <div class="intro">{{aboutIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>


<template name="SiteAbout1">
  <div id="content-wrapper">
    <div class="container">
      <div id="map"></div>
      <h2>About Us 1</h2>
      {{#with site}}
        <div class="intro">{{aboutIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>



<template name="SiteAbout2">
  <div id="content-wrapper">
    <div class="container">
      <div id="map"></div>
      <h2>About Us 2</h2>
      {{#with site}}
        <div class="intro">{{aboutIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>



<template name="SiteAbout3">
  <div id="content-wrapper">
    <div class="container">
      <div id="map"></div>
      <h2>About Us 3</h2>
      {{#with site}}
        <div class="intro">{{aboutIntro}}</div>
      {{/with}}
    </div>
  </div>
</template>
