<template name="Loading">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
  </template>

<template name="Loading0">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</template>

<template name="Loading1">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</template>

<template name="Loading2">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</template>

<template name="Loading3">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</template>


<template name="LoadingMaster">
  <div id="content-wrapper">
    <div class="container loading">
      <div id="loader">
        <div class="load"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</template>



