<template name="serviceItem0">
  <div class="service">
    <div class="service-item">
      <h4>{{serviceTitle}}</h4>
      {{serviceDescription}}
    </div>
  </div>
</template>

<template name="serviceItem1">
  <div class="service width-50">
    <div class="service-item">
      <h4>{{serviceTitle}}</h4>
      {{serviceDescription}}
    </div>
  </div>
</template>

<template name="serviceItem2">
  <div class="service width-33">
    <div class="service-item">
      <h4>{{serviceTitle}}</h4>
      {{serviceDescription}}
    </div>
  </div>
</template>

<template name="serviceItem3">
  <div class="service">
    <div class="service-item">
      <h4>{{serviceTitle}}</h4>
      {{serviceDescription}}
    </div>
  </div>
</template>
