<template name="ServicesIndex">
<div id="content-wrapper">
  <div class="container">
    <h1>Services</h1>
    {{#with site}}
      <div class="intro">{{servicesIntro}}</div>
    {{/with}}

    {{> servicesList0}}
  </div>
</div>
</template>

<template name="ServicesIndex0">
  <div id="content-wrapper">
    <div class="container">
      <h1>Services 0</h1>
      {{#with site}}
        <div class="intro">{{servicesIntro}}</div>
      {{/with}}

      {{> servicesList0}}
    </div>
  </div>
</template>


<template name="ServicesIndex1">
  <div id="content-wrapper">
    <div class="container">
      <h1>Services 1</h1>
      {{#with site}}
        <div class="intro">{{servicesIntro}}</div>
      {{/with}}

      {{> servicesList1}}
    </div>
  </div>
</template>


<template name="ServicesIndex2">
  <div id="content-wrapper">
    <div class="container">
      <h1>Services 2</h1>
      {{#with site}}
        <div class="intro">{{servicesIntro}}</div>
      {{/with}}

      {{> servicesList2}}
    </div>
  </div>
</template>


<template name="ServicesIndex3">
  <div id="content-wrapper">
    <div class="container">
      <h1>Services 3</h1>
      {{#with site}}
        <div class="intro">{{servicesIntro}}</div>
      {{/with}}

      {{> servicesList3}}
    </div>
  </div>
</template>
